fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
alembic
passlib[bcrypt]
python-jose[cryptography]
pydantic
pydantic-settings
fastapi-mail
resend
python-multipart
google-genai
reportlab
